<header>
    <div class="black">
        <p>#MakeFriesBelgianAgain</p>
    </div>
    <div class="yellow"></div>
    <div class="red">
        <div class="rightIcons">
            <a href="/logout"><div id="logoutButton">
                <img class="logoutImg" src="/logout.png">
                <span class="infotext">Logout</span>
            </div></a>
            <img src="/fries-icon.png">
        </div>
    </div>
</header>
