<header>
    <div class="colors">
        <div class="black">
            <p><a href="/home">SIGN our petitions</a></p>
        </div>
        <div class="yellow"></div>
        <div class="red">
            <img src="/flag.png" id="flag">
            <div class="rightIcons">
                <a href="/profile/edit"><div id="editButton">
                    <img class="editImg" src="/edit.png">
                    <span class="infotext">Edit Profile</span>
                </div></a>
                <a href="/logout"><div id="logoutButton">
                    <img class="logoutImg" src="/logout.png">
                    <span class="infotext">Logout</span>
                </div></a>

            </div>
        </div>
    </div>
    <div class="line">
    </div>
</header>
