<header>
    <div class="black">
        <p>#MakeFriesBelgianAgain</p>
    </div>
    <div class="yellow"></div>
    <div class="red">
        <img src="/fries-icon.png">
        <div class="rightIcons">
            <a href="/profile/edit"><div id="editButton">
                <img class="editImg" src="/edit.png">
                <span class="infotext">Edit Profile</span>
            </div></a>
            <a href="/logout"><div id="logoutButton">
                <img class="logoutImg" src="/logout.png">
                <span class="infotext">Logout</span>
            </div></a>

        </div>

    </div>
</header>
