<!DOCTYPE html>
<html>

    <head>
        <title>Save the Belgian fries!</title>
        <link href="/style.css" rel="stylesheet">
    </head>

    <body>

        {{> header}}

        <div class="mainContent">
            {{{ body }}}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/canvas.js"></script>
    </body>

</html>
