<h1>#ProudtobeBelgian</h1>
<h2>Please sign one of our petitions below.</h2>
<br>

<ul>
    <li><a href="/petition">#MakeFriesBelgianAgain</a></li>
    <br>
    <li><a href="/petition2">#MakeBeerglassesUsefulAgain</a></li>
</ul>
