<h1>Thank you, {{name}}!</h1>
<h2>A small step for you, but a giant leap for all beers!</h2>
<img src="/beerglasses.png">
<br>
<img class="signatureImg" src="{{signature}}">
<p><a href="/signers2">see all signers</a></p>
<p><a href="/home">sign other petitions</a></p>
<p>Please share our purpose with your friends, using #MakeBeerglassesUsefulAgain !</p>
<br>
<form method="post">
    <button class="submitButton" id="remove">remove signature</button>
    <input name="_csrf" type="hidden" value="{{csrfToken}}">
</form>
