<h1>Thank you!</h1>
<h2>A small step for you, but a giant leap for all Belgian Fries!</h2>
<img src="fries-icon.png">
<br>
<img class="signatureImg" src="{{signature}}">
<p><a href="/signers">see all signers</a></p>
<p>Please share our purpose with your friends, using #MakeFriesBelgianAgain !</p>
<br>
<form method="post">
    <button class="submitButton" id="remove">remove signature</button>
    <input name="_csrf" type="hidden" value="{{csrfToken}}">
</form>
