<h1>Thank you!</h1>
<h2>A small step for you, but a giant leap for all Belgian Fries!</h2>
<img src="fries-icon.png">
<p><a href="/signers">see all signers</a></p>
<p>Please share our purpose with your friends, using #MakeFriesBelgianAgain !</p>
