* {
    box-sizing: border-box;
}

body {
    /* background-color: #FFC739; */
    margin: 0;
    min-height: 100vh;
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column;
}

header {
    align-self: stretch;
    padding: 0;
    margin: 0;
    z-index: 5;
    top: 0;
    font-family: arial;
}

header .colors {
    display: flex;
    width: 100%;
}

header .colors div {
    height: 50px;
    width: 33.33%;
}

header .colors div p {
    color: #FFC739;
    font-weight: bold;
    text-align: center;
}

.logoutImg, .editImg {
    margin: 0;
    height: 75% !important;
    width: auto;
    top: 7px;
}

#logoutButton, #editButton {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    right: 100px;
}

#logoutButton {
    margin-right: 40px;
}

.infotext {
    position: absolute;
    top: 10px;
    right: 100%;
    visibility: hidden;
    width: 120px;
    color: #FFC739;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

#logoutButton:hover .infotext, #editButton:hover .infotext {
    visibility: visible;
}

header .colors div .rightIcons {
    position: relative;
    float: right;
}

header .colors div img {
    float: right;
    position: relative;
    top: 7px;
    width: auto;
    height: 150%;
}

header .black {
    background-color: black;
}

header .black a {
    text-decoration: none;
    color: #FFC739;
    font-weight: bold;
    text-align: center;
}

header .yellow {
    background-color: #E8E128;
}

header .red {
    background-color: #FF3A2C;
}

#flag {
    cursor: pointer;
    margin-right: 40px;
}

#flag:active {
  transform: translateY(4px);
}

.funFact {
    border: 1px solid #FF3A2C;
    color: #FF3A2C;
    font-size: 1.2rem;
    margin: 40px 20px 20px 20px;
}

h1 {
    color: black;
    font-size: 5rem;
    margin: 40px 0 30px 0;
}

ul {
    list-style: none;
    padding: 0;
}

.bigTextDiv {
    font-family: arial;
    background-color: #FFC739;
    background-image: url(brussels.png);
    background-position: bottom;
    background-repeat: no-repeat;
    color: black;
    width: 100%;
    text-align: center;
}

#p1 {
    font-size: 8vw;
    margin: 0;
    position: relative;
    top: 70px;
}

#p2 {
    font-size: 12vw;
    margin: 30px 0 0 0;
}

.mainContent {
    font-size: 1.2rem;
    text-align: center;
    width: 60%;
    align-self: center;
    flex-grow: 1;
}

.mainContent p {
    text-align: justify;
    text-align-last: center;
}

.mainContent a {
    color: black;
}

.mainContent form {
    margin: 50px 0 0 0;
}

.mainContent input {
    border: 1px solid #FF3A2C;
}

input::placeholder {
    text-align: center;
}

.mainContent canvas {
    border: 1px dotted #FF3A2C;
    margin: 20px 0 0 0;
    width: 340px;
    height: 70px;
}

.mainContent .submitButton {
    margin-top: 30px;
    font-size: 1.3rem;
    background-color: #E87928;
    border: 1px solid #FF3A2C;
    width: 150px;
    height: auto;
}

#remove, #delete {
    font-size: 1rem;
}

.error {
    color: #FF3A2C;
    margin-top: 20px;
}

.signatureImg {
    margin: 30px;
}

.editInput {
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #FFC739;
    text-align: center;
    width: 100%;
    margin: 20px auto 0 auto;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 0;
}
